@font-face {
    font-family: 'nunito';
    src: url('./fonts/Nunito/Nunito-Light.ttf');
    /* font-weight: normal; */
}

/* @font-face {
    font-family: 'nunitoBold';
    src: url('./fonts/Nunito/Nunito-Bold.ttf');
    font-weight: bold;
} */